<!--<section class="section">-->
<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <p class="navbar-item is-size-3 has-text-weight-medium" href="">
            Eduplus Demo
        </p>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/users/all">
                All Users
            </a>
        </div>
    </div>
</nav>
<!--</section>-->
<div class="block pt-4"></div>